* {
	color: #333;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #EEEEEE;
}

body {
	background-color: #000;
	padding-top: 30px;
	display: flex;
	justify-content: center;
}
h1 {
	color: #634523;
	font-weight: bold;
	letter-spacing: 1px;
}
p {
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 20px;
}
main {
	padding: 40px 10px 10px 10px;
	border-radius: 10px;
	background-color: #292929;
	width: 95vw;
	margin-bottom: 20px;
}

#heading {
	text-align: center;
}
p {
	color: #DBB2FF;
}
#img-div {
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #1C1B16;
}
#image {
	border-radius: 5px;
	width: 100%;
	max-width: 800px;
}
#image-caption {
	margin: 10px 10px;
}
h1 {
	font-size: 40px;
	color: #FF7597;
	margin-bottom: 20px;
}
h4 {
	color: #DBB2FF;
	font-size: 1.2em;
	margin: 40px 40px;
}
#tribute-info {
	text-align: center;
}

ul {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.5;
	max-width: 600px;
	text-align: justify;
}
li {
	margin-bottom: 18px;
}
#info {
	text-align: center;
}

#content {
	width: 50%;
	margin: 0 auto;	
}